
<section data-ng-controller="HomeController">

<div class="container-fluid ">	
<!-- Section: intro -->

<div class="col-md-7 view-container "> 
  <toast></toast>         
            
            <form name="myform" id="signup-form" ng-submit="submitAction()" novalidate>

                <div id="form-views" ui-view> 
                     <div class="text-center">
                      <h2>Get a Masseur Now</h2>
                          <div>
                               <p> All our RMTs are vetted, licensed and covered by most insurance plans are Registered Massage Therapists</p>
                               <p> Quick - Reliable - Easy</p>

                           <button class="btn btn-success btn-lg" ui-sref='home.date'>Book now</button>
                           <br><br>
                                <div ng-if="!authentication.user._id">
                               <small >Already A Member?</small>
                                <a ui-sref="signin">Sign in</a>
                                </div>
                           </div>
                     </div>

                </div>
            </form>
</div>
    <div class="col-md-4 from-top">
    <div ui-view="checkout"></div>
    </div>
</div>
<!-- 
<pre>MyAppointment Var is: {{myAppointment}}</pre>
<pre>$scope.FormData Var is: {{formData}}</pre>
 -->
    	
    		<!-- 
    		<div class="page-scroll">
    			<a href="#service" class="btn btn-circle">
    				<i class="fa fa-angle-double-down animated"></i>
    			</a>
    		</div> -->

</section>
</div>
 <hr>
<div class="row">
  <div class="container-fluid bg-gray">
   
    <div class="onboard" >
            <div class="col-md-8 col-sm-12 pull-left">
              <h1><span class="italic">What is </span><strong>Händer</strong></h1>
        
                <p>Hander is a new service for people who want a quick and reliable Registered Massage Therapist.</p>
                <p>We vet and screen all of our therapists, 
                ensuring that they are all  fully qualified and registered with the College of Massage 
                Therapists. </p>
                <p>Whether its for an injury, as part of ongoing 
            treatment, or to increase wellness and wellbeing, we have the best therapist for you. </p>

             <p>You can enjoy a massage in the comfort and security of your own home, and can make arrangements to suit your lifestyle and schedule. </p>

            </div>
            <div class="col-md-4" style="top:5px;">
              <img src="/img/smiling_faces.jpg" width="100%">
            </div>
    </div>
  </div>
</div>
 <hr>
<div class="row section" ng-show="$state.current.name === 'home'" id="howitworks">
  <div class="container-fluid ">
     <div class="col-md-12">
       <h1>How it works</h1>
     </div>
     <div class="col-md-4">
       <img src="/img/bedroom.jpg" height="400px"><br>
       <span class="small">Source: <a href="http://www.apartmenttherapy.com/10-great-finds-beautiful-linen-bedding-219389?crlt.pid=camp.lwPryn4yY9ul#.3einge:CASA">Apartment Therapy</a></span>
     </div>
      <div class="col-md-7">
      <p>Booking a Registered Massage Therapist couldn't be easier. Just click 'Book Now' above to get started. That will make the booking and set you up on the system. 
      <p>
       Since out RMTs are flexible - you can choose a time that best suits your schedule and lifestyle. This way you can enjoy a stress free and relaxing experiences.  </p>
        <ul>
          <li>Nam maximus enim leo, vel porta est vestibulum eget.</li><li> Quisque eget semper nisl. </li>
          <li>Duis venenatis placerat pellentesque. Nam cursus sapien in lorem semper, malesuada vestibulum tortor suscipit.</li>
        </ul>
      <p> Pellentesque eget est rutrum, condimentum est sit amet, rhoncus nisl. Pellentesque scelerisque lacus id lacinia malesuada. Nulla rutrum lorem libero. Fusce lacinia semper ipsum id vestibulum. Vestibulum sit amet nisi tristique, pharetra orci quis, blandit metus.</p>

      </div>
      
  </div>

</div>


