<section>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Success!!</h1>
			<h2>Your booking is complete - you'll get a confirmation email shortly</h2>
			      <button class="btn btn-success" ng-click="checkGeocoder()">Check Geocoder</button>
			         <button class="btn btn-success" ng-click="getClosestStaff()">Get closest staff</button>
			         <button class="btn btn-success" ng-click="getResults()">Get Results</button>
					  <button class="btn btn-success" ng-click="sendEmail('5579e5edba6c1ff12afc813d')">Send Email</button>

		</div>

		<div ui-view="panel"></div>
	</div>


</section>