<section >
<hr>
<div class="text-center onboard">
<h2>Apply to Join our team of RMTs now</h2>	
</div>
<div class="text-center onboard">
	<h3>Benefits for RMTs</h3>
	<hr>
	
	<div class="col-sm-4 col-md-4">

		<div class="col-sm-8 col-sm-offset-2 col-lg-8 col-lg-offset-3">
			<div class="widget-icon ">
				<i class="fa fa-dollar fa-2x"></i>
			</div>
	
		</div>
	
	<strong>Lower commissions </strong>
	<hr>
	<p>We take a lower commission than other spas and gyms, so you keep more of what you earn.</p>
	</div>

	<div class="col-sm-4 col-md-4">
			<div class="col-sm-8 col-sm-offset-2">
			<div class="widget-icon">
				<i class="fa fa-laptop fa-2x"></i>
			</div>
			
		</div>

	<strong>Technological edge</strong>
	<hr>
	<p>Including SMS and email notifications alerting you to new potential clients.</p>
	</div>

	<div class="col-sm-4 col-md-4">
			<div class="col-sm-8 col-sm-offset-2">
			<div class="widget-icon">
				<i class="fa fa-calendar fa-2x"></i>
			</div>
			
		</div>

	<strong>Flexible</strong>
	<hr>
	<p>We put your schedule in your hands by allowing you to choose the shifts that suit your other commitments. </p>
	 </div>
</div>
<div class="row">
	<div class="col-xs-8 col-xs-offset-4 col-md-1 col-md-offset-5">
	<button class="btn btn-lg btn-success" ui-sref="onboard.onboard_2">Apply Now</button>
	</div>
</div>

</section>

