<section>
	<div class="row onboard">

				<div class="col-sm-12">
				<div class="text-center">
					<h1><span class="italic">What is </span><strong>Händer</strong></h1>

						<p>Hander is a new service for people who want a quick and reliable Registered Massage Therapist.</p>
						<p>We vet and screen all of our therapists, 
						ensuring that they are all  fully qualified and registered with the College of Massage 
						Therapists. </p>
						<p>Whether its for an injury, as part of ongoing 
				treatment, or to increase wellness and wellbeing, we have the best therapist for you. </p>
				</div>
	
	</div>
	
	<div class="row onboard">
		<div ui-view="panel1"></div>

	</div>

</div>
 

</section>


	