<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-sm-12" >
	<a class="dashlink" scroll-on-click href="#appointments">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="title">{{total_apps}}</div>
				<div class="comment">Appointments</div>
			</rd-widget-body>
		</rd-widget>
		</a>
	</div>
		<div class="col-lg-3 col-md-6 col-sm-12" ng-if="!isClient">
		 <a class="dashlink" scroll-on-click href="#appointments">
		 <rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="title">{{appointments_completed}}</div>
				<div class="comment">Completed</div>
			</rd-widget-body>
		</rd-widget>
		</a>
	</div>
	<div class="col-lg-3 col-md-6 col-sm-12" controller="AdminsController" ng-if="authentication.showAdmin ">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">{{users.length}}</div>
				<div class="comment">Users</div>
			</rd-widget-body>
		</rd-widget>
	</div>

<div class="col-lg-3 col-md-6 col-sm-12">
		<a  class="dashlink" scroll-on-click href="#messages"><div ui-view="new_messages"></div></a>
</div>
	<div class="col-sm-12 col-md-12">

<!-- 	This is where the Appointments table is added by UI Router -->
		<div ui-view="appointments"></div>

	</divs>
	
</div>
<div class="col-sm-12 col-md-12">
		<rd-widget>
			<rd-widget-header icon="fa-comment-o" title="Messages">
				
			</rd-widget-header>
					<rd-widget-body>
					<button class="btn btn-sm btn-warning" ui-sref="createMessage">New Message</button><hr>
					<!-- 	This is where the Message table is added by UI Router -->

						<div ui-view="messages"></div>

					</rd-widget-body>
		</rd-widget>
	

	</divs>
</div>

</div>