
<div class="row ">
	<div class="col-sm-12 profile">
		<h3>{{viewing.firstName}}'s Biography</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum velit a erat fringilla, vitae blandit urna malesuada. Donec eget odio et est imperdiet molestie. Aliquam ut malesuada dolor. Donec eget diam at felis pulvinar pharetra vel vel lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas sed rutrum lectus. Nulla tempus bibendum aliquet. Nullam ac velit quis nulla bibendum lobortis. Ut gravida sapien a ultricies imperdiet. Fusce vulputate risus enim, id ullamcorper odio placerat non. Quisque semper euismod dolor ut pulvinar. Praesent in malesuada ipsum. Morbi sed malesuada est.</p>
	</div>
	<hr>
	<div class="col-sm-12 biography">
		<h3>Testamonials</h3>
		<ul>
			<li>
			<p> Jane S. <small>says</small></p>
			<p><blockquote>&quot;This is a quote&quot;</blockquote></p>

			</li>
			<li>
			<p> Henry R. <small>says</small></p>
			<p><blockquote>&quot;This is a quote&quot;</blockquote></p>

			</li>
			<li>
			<p> Jack J. <small>says</small></p>
			<p><blockquote>&quot;This guys a total douchebag&quot;</blockquote></p>

			</li>
			<li>
			<p> Jackie O. <small>says</small></p>
			<p><blockquote>&quot;I agree with Jack J.&quot;</blockquote></p>

			</li>
		</ul>
	</div>
</div>
