<section class="view-container container" >
<div class="row">
	<div class="col-md-4">
	<h3>Edit your profile</h3></div>
</div>
 

<div class="row">

	<div class="col-sx-12 col-md-4">
		<div clas="row">
			<div class="profile_picture">
				<h4>Profile Picture</h4>

				<div data-ng-controller="ImgCtrl" >

		
			       <img class="img img-responsive preview" data-ng-src="{{user.profile_pic}}" >

				    <img ng-src="{{def_av}}" ng-if="!user.profile_pic">
					<image-crop
			         data-width="150"
			         data-height="150"
			         data-shape="square"
			         data-step="imageCropStep"
			         data-result="imageCropResult"
			       ></image-crop>

				</div>
			</div>
		</div>
	</div> 
	<div class="col-sx-12 col-md-4 ">		

		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>


				<div class="form-group">
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="address">Address</label>
					<input type="text" id="address" name="street_1" class="form-control" data-ng-model="user.address.main_address.street_1" placeholder="e.g. 2k - 150 Beverley Street">
					<input type="text" id="address2" name="street_2" class="form-control" data-ng-model="user.address.main_address.street_2" placeholder="Street 2">
					<input type="text" id="address2" name="street_2" class="form-control" data-ng-model="user.address.main_address.city" placeholder="City">
					<input type="text" id="address2" name="street_2" class="form-control" data-ng-model="user.address.main_address.postcode" placeholder="Postcode">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
<div class="col-md-1"></div>
	<div class="col-sx-12 col-md-4" ng-if="!card">
		<h4>Payment details</h4>
			<div class="form-group">
				<button class="btn btn-danger" ui-sref="profile.payment">Add a card now</button>
			</div>


		<div ui-view></div>
	</div>

	<div class="col-md-4" ng-if="card">
		<h4>Payment details</h4>
			<div class="form-group">
				<label for="cardNumber">Card Number: </label>
				 **** **** **** {{card.last4}}
			</div>
	
		<div class="form-group">
			<label for="exp_date">Expiry Date: </label>
			 {{card.exp_month}} / {{card.exp_year}}
		</div>
		<div class="form-group">
				<label for="exp_date">Card Type:  </label>
					 {{card.brand}}
		</div>
		<button class="btn btn-warning" ng-click="openModal()">Edit Payment Details</button>


		<div ui-view></div>
	</div>

</div>







</section>