<section class="view-container container" data-ng-controller="SettingsController">
<div class="row">
	<div class="col-md-4">
	<h3>Edit your profile</h3></div>
</div>
  <button class="btn btn-primary" ng-click="save_customer.createCharge(user)">Create Charge</button>
    <button class="btn btn-warning" ng-click="save_customer.createRefund(user)">Create Refund</button>

<div class="row">

	<div class="col-md-3">
		<div clas="row">
			<div class="col-md-offset-2 col-xs-offset-4">
				<h4>Profile Picture</h4>
				<div data-ng-controller="ImgCtrl" >
				    <img ng-src="{{def_av}}" ng-if="!preview">
				    <img class="img img-responsive img-circle" ng-src="{{preview}}" style="max-height: 150px; max-width: 300px; height: 150px; width:150px;">
<!-- 				    <cropped-image class="img-circle" ng-src="{{preview}}" width="200" height="200"></cropped-image>
 --><!-- 				    <
 -->			    <div class="btn btn-success" ngf-select ng-model="files">Change Image</div>
			    <div class="button" ngf-select ngf-change="upload($files)"></div>
			    <div ngf-drop ng-model="files" class="drop-box" 
			        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
			        ngf-accept="'image/*,application/pdf'"></div>
			    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
				<!-- <div class="preview">
			    Image thumbnail: <img ngf-src="files[0]" ngf-default-src="'/thumb.jpg'" ngf-accept="'image/*'">
			    </div> -->
<!-- 			         <button class="btn btn-success" ng-click="upload($files)" >Upload</button>
 -->			</div>
			</div>
		</div>
	</div> <!-- closes the first column div -->
<!-- 
            <div class="row">
            	<div class="col-sm-offset-2"><img ng-src='{{def_av}}'></div>
            </div>
            <input  id="inputImage2" 
                type="file" 
                accept="image/*" 
                image="image2" 
                resize-max-height="300"
                resize-max-width="250"
                resize-quality="0.7" />
            
            
            <div><img ng-show="image2" ng-src="{{image2.resized.dataURL}}"/></div>
         <div><br><br>
            <button class="btn btn-success" type="submit" ng-click="single(image2)" >Upload</button>
        </div>
        <hr />
		<img ng-show="uploadedImgSrc" ng-src="{{uploadedImgSrc}}" style="max-width:50px; max-height:50px;">
		</div>

	</div> -->
	
	<div class="col-md-5">			
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>


				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="address">Address</label>
					<input type="text" id="address" name="street_1" class="form-control" data-ng-model="user.address.main_address.street_1" placeholder="e.g. 2k - 150 Beverley Street">
					<input type="text" id="address2" name="street_2" class="form-control" data-ng-model="user.address.main_address.street_2" placeholder="Street 2">
					<input type="text" id="address2" name="street_2" class="form-control" data-ng-model="user.address.main_address.city" placeholder="City">
					<input type="text" id="address2" name="street_2" class="form-control" data-ng-model="user.address.main_address.postcode" placeholder="Postcode">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="col-md-4" ng-if="!card">
		<h4>Payment details</h4>
			<div class="form-group">
				<button class="btn btn-danger" ui-sref="profile.payment">Add a card now</button>
			</div>


		<div ui-view></div>
	</div>
	<div class="col-md-4" ng-if="card">
		<h4>Payment details</h4>
			<div class="form-group">
				<label for="cardNumber">Card Number: </label>
				 **** **** **** {{card.last4}}
			</div>
	
		<div class="form-group">
			<label for="exp_date">Expiry Date: </label>
			 {{card.exp_month}} / {{card.exp_year}}
		</div>
		<div class="form-group">
				<label for="exp_date">Card Type:  </label>
					 {{card.brand}}
		</div>
		<button class="btn btn-warning" ui-sref="profile.payment">Edit Payment Details</button>


		<div ui-view></div>
	</div>

</div>







</section>