<section class=" white-bg view-container container dash">
	<div class="row">
		<div class="col-md-4">
			<h3>User Profile</h3>
		</div>
	</div>
	<div class="row">
		<div class="well col-sm-4">
			<div class="row">
					<div class="form-group">
						<h3 > {{viewing.displayName}}</h3>
					</div>
					<div class="row">
						<div class="col-sx-12 col-xs-offset-4 col-sm-offset-2 col-lg-offset-3">
						
							    <img class="img img-responsive img-circle" 
								data-ng-src="{{viewing.profile_pic}}"
							    style="max-height: 150px; max-width: 300px; height: 150px; width:150px;">    
						</div>
					</div>
					<div class="row">
						<div class="col-sx-8 col-xs-offset-2 col-sm-offset-1 col-lg-offset-3">
							<div class="form-group">
								<span class="pull-right"><a href="#"><i class="fa fa-heart fa-lg"></i></a></span>
							</div>
							<div class="form-group" ng-if="viewing.phone">
								<h5 data-ng-model="viewing.phone"> {{viewing.phone}}</h5>
							</div>
							
						</div>
					</div>
				</div>
		</div> <!-- closes the first column div -->
		<div class="col-sm-8">
			<div ng-if="!authentication.isClient" ui-view="userAppointments"></div>
			<div ng-if="authentication.isClient" ui-view="profile"></div>
		</div>
	</div>
		

</section>